.modal-body {
  padding: 20px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.modal-footer .btn-primary {
  border: none;
  background-color: #218838;
}

.modal-footer .btn-primary:hover {
  border: none;
  background-color: #1e7e34;
}

.modal-footer .btn-secondary {
  border: none;
  background-color: #882121;
}

.modal-footer .btn-secondary:hover {
  border: none;
  background-color: #7e1e1e;
}
